workflows/01-critical-vulnerability-alert.json
{
  "name": "Critical Vulnerability Alert",
  "nodes": [
    {
      "parameters": {
        "triggerType": "newVulnerabilities",
        "severityThreshold": "critical",
        "pollingInterval": 15
      },
      "id": "cavelo-trigger",
      "name": "Cavelo Trigger",
      "type": "n8n-nodes-cavelo.caveloTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Monitors for new critical vulnerabilities (CVSS >= 9.0)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "severity-check",
              "leftValue": "={{ $json.vulnerabilityCvssV3BaseScore }}",
              "rightValue": 9.0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-critical",
      "name": "Filter Critical",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Double-check severity threshold"
    },
    {
      "parameters": {
        "resource": "vulnerability",
        "operation": "search",
        "filters": {
          "assetId": "={{ $json.assetId }}",
          "severities": ["critical"]
        },
        "limit": 10
      },
      "id": "get-vulnerability-details",
      "name": "Get Vulnerability Details",
      "type": "n8n-nodes-cavelo.cavelo",
      "typeVersion": 1,
      "position": [680, 300],
      "notes": "Fetch detailed vulnerability information"
    },
    {
      "parameters": {
        "projectKey": "SEC",
        "issueType": "Bug",
        "summary": "Critical Vulnerability: {{ $json.title }} - {{ $json.hostname }}",
        "description": "**Critical Vulnerability Detected**\n\n**Vulnerability:** {{ $json.title }}\n**CVSS Score:** {{ $json.cvssV3BaseScore }}\n**Asset:** {{ $json.hostname }}\n**IP Address:** {{ $json.ipAddress }}\n**Description:** {{ $json.description }}\n\n**Immediate Actions Required:**\n1. Assess vulnerability impact\n2. Review available patches\n3. Schedule emergency patching\n4. Implement temporary controls if needed\n5. Monitor for exploitation attempts",
        "priority": "Highest",
        "assignee": "security-team",
        "labels": ["critical", "vulnerability", "security"],
        "customFields": {
          "CVSS Score": "{{ $json.cvssV3BaseScore }}",
          "Asset Hostname": "{{ $json.hostname }}",
          "Asset IP": "{{ $json.ipAddress }}",
          "Vulnerability ID": "{{ $json.vulnerabilityId }}"
        }
      },
      "id": "create-jira-ticket",
      "name": "Create Jira Ticket",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 2,
      "position": [900, 300],
      "notes": "Create high-priority Jira ticket for critical vulnerability"
    },
    {
      "parameters": {
        "channel": "#security-alerts",
        "text": "🚨 **CRITICAL VULNERABILITY DETECTED**\n\n**Vulnerability:** {{ $json.title }}\n**CVSS Score:** {{ $json.cvssV3BaseScore }}\n**Asset:** {{ $json.hostname }}\n**IP:** {{ $json.ipAddress }}\n\n**Description:** {{ $json.description }}\n\n**Immediate Actions:**\n• Assess vulnerability impact\n• Review available patches\n• Schedule emergency patching\n• Implement temporary controls\n• Monitor for exploitation\n\n**Jira Ticket:** [SEC-{{ $json.jiraTicketId }}]({{ $json.jiraUrl }})",
        "blocks": []
      },
      "id": "send-slack-alert",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1120, 300],
      "notes": "Send immediate Slack alert to security team"
    }
  ],
  "connections": {
    "Cavelo Trigger": {
      "main": [
        [
          {
            "node": "Filter Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Critical": {
      "main": [
        [
          {
            "node": "Get Vulnerability Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vulnerability Details": {
      "main": [
        [
          {
            "node": "Create Jira Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira Ticket": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}